@use "mixins" as mix;

$white: hsl(0, 0%, 100%);
$red: hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);
$rose-50: hsl(20, 50%, 98%);
$rose-100: hsl(13, 31%, 94%);
$rose-300: hsl(14, 25%, 72%);
$rose-400: hsl(7, 20%, 60%);
$rose-500: hsl(12, 20%, 44%);
$rose-900: hsl(14, 65%, 9%);

$radius-base: 0.5rem;
$radius-round: 500rem;
$font-sans: "Red Hat Text", system-ui, Avenir, Helvetica, Arial, sans-serif;

body {
  font-family: $font-sans;
  background: $rose-50;
  color: $rose-900;
}

main {
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

@include mix.breakpoint-up(sm) {
  .container {
    width: 540px;
  }
}

@include mix.breakpoint-up(md) {
  .container {
    width: 720px;
  }
}

@include mix.breakpoint-up(lg) {
  .container {
    width: 960px;
  }
}

@include mix.breakpoint-up(xl) {
  .container {
    width: 1140px;
  }
}

@include mix.breakpoint-up(2xl) {
  .container {
    width: 1400px;
  }
}

.product {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @include mix.breakpoint-up(lg) {
    grid-template-columns: 2fr 1fr;
  }

  @include mix.breakpoint-up(xl) {
    grid-template-columns: 3fr 1fr;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @include mix.breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include mix.breakpoint-up(xl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
